* {
    box-sizing: border-box;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    background-color: #f5f3e8 !important;
}

p {
    font-size: 25px;
}

.container {
    text-align: center;
    margin: 110px;
}

.display {
    display: none;
}
  
button {
    background-color: #968ddd; 
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    margin: 20px !important;
    padding: 10px 10px;
}
  
button:hover {
    background-color: #ada7dd; 
}

#start, #next {
	border-radius: 15px;
    outline: none;
}

.form-check-input {
    display: flex;
    accent-color: #9288df;
    zoom: 1.5;
}

.form-check-label {
    display: flex;
}

.form-check {
    font-size: 20px;
    padding: 25px;
    margin-left: 45px;
}

#header {
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    padding: 25px;
}

#subtitle {
    padding: 15px;
}

#title {
    font-size: 35px;
    font-style: italic;
}

#finish {
    font-size: 50px;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 25px;
    margin-top: 30px;
    margin-left: 50px;
}